ide/ui-services/src/main/resources/script.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="script" type="scriptType"/>
    <xs:complexType name="charactersType">
        <xs:sequence>
            <xs:element type="characterType" name="character" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="scriptType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="charactersType" name="characters"/>
            <xs:element type="scenesType" name="scenes"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="scenesType">
        <xs:sequence>
            <xs:element type="sceneType" name="scene" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sceneType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="ref-id"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="characterType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>